*{
  padding: 0px;
  margin: 0px;
}
.contenedor {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.cuadro {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  background-color:rgb(72, 23, 117);
}
.cuadro div {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-family: monospace;
  color: white;
}
.cuadro div:hover{
background-color: rgba(58, 58, 58, 0.897);
cursor: pointer;
}

button {
padding: 20px 10px;
background-color:blueviolet;
color:aliceblue;
outline: none;
border: 0px;
border-radius: 8px;
width: 200px;
margin-top: 20px;
font-weight: bold;
font-size: 18px;
letter-spacing: 1px;
}

button:hover {
  cursor: pointer;
  background-color:rgb(117, 37, 192);
}